{% extends 'base.html.twig' %}

{% block title %}Créer un message{% endblock %}

{% block body %}
    <div style="display: flex;justify-content: space-between">
        <a class="a-accueil" href="{{path('app_accueil_liste')}}" style="font-size: 1.75rem">Accueil</a>
        <a class="a-accueil" href="{{path('app_accueil_profile')}}"><i class="icon-user fa-solid fa-user"></i></a>
    </div>
    <div style="text-align: center"><h1>Modifier votre message</h1></div>
    <div style="text-align: center">
        <form method="post">
            <div>
                <textarea name="message" rows="10" cols="60">{{ message[0].text }}</textarea>
            </div>
            <div>
                <button style="font-size: 1.25em">Valider</button>
            </div>
        </form>
        <button><a href="{{ path('app_accueil_profile') }}">Retour</a></button>
    </div>
{% endblock %}