{% extends 'base.html.twig' %}

{% block title %}Créer un sujet{% endblock %}

{% block body %}
    <div style="display: flex;justify-content: space-between">
        <a class="a-accueil" href="{{path('app_accueil_liste')}}" style="font-size: 1.75rem">Accueil</a>
        <a class="a-accueil" href="{{path('app_accueil_profile')}}"><i class="icon-user fa-solid fa-user"></i></a>
    </div>

    <div style="text-align: center"><h1>Créer un sujet</h1></div>

    <div style="text-align: center">
        <div>
            <form method="post">
                <label for="sujet">Sujet</label>
                <input id="id" type="text" name="sujet" required>
                <button>Valider</button>
            </form>
        </div>
    </div>


{% endblock %}
